@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

:root {
    --orange: #FF8732;
    --ljus-beige: #FBF7F1;
    --brun-text: #502314;
    --beige: #F5EBDC;
    --röd: #D62300;
}

/* Sidans utseende */
body {
    background-color: var(--ljus-beige);
}
.kontainer {
    font-family: Chango, sans-serif;
    color: var(--brun-text);
    width: 1200px;
    margin: auto;
}

/* Sidhuvudets utseende */
.kontainer .sidhuvud {}
.kontainer .sidhuvud img {
    width: 70px;
}
.kontainer .sidhuvud a {
    color: var(--brun-text);
    text-decoration: none;
}
.kontainer .sidhuvud a.hitta {}

/* Orange band */
.kontainer .band {
    background-color: var(--orange);
}
.kontainer .band h1 {}

/* Innehållets utseende */
.kontainer .innehall {}
.kontainer .innehall  h2 {}
.kontainer .innehall .kolumner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.kontainer .innehall .kolumner .box {}
.kontainer .innehall .kolumner .box img {
    width: 100%;
}
.kontainer .innehall .kolumner .box p {}