/* Importera ett typsnitt */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* CSS-reset för att underlätta arbetet */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}

/* Typografi */
body {
    font: 15px sans-serif;
}
h1 {
    font: 40px Montserrat, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #666;
}

/* Layout */
body {
    background: #CCC;
}
.kontainer {
    width: 700px;
    padding: 40px 20px;
    margin: 20px auto;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #666;
}

/* Sidhuvudet (platt struktur) */
h1 {
    text-align: center;
    font-family: Montserrat, sans-serif;
}

/* Menyn (platt struktur) */
.meny {
    margin: 20px 0;
    text-align: center;
    margin-bottom: 50px;
}
.meny a {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    background: #666;
    padding: 7px 12px;
    border-radius: 3px;
    margin: 0;
}
.meny a.aktiv {
    background: #ccc;
}

/* Sidan innehåll (platt struktur) */
.kontainer figure {
    padding: 20px;
    width: 60%;
    margin: 20px auto;
    border: 1px solid #AAA;
    text-align: center;
}
.kontainer p {
    margin: 30px 40px;
    text-align: left;
}

/* Sidfoten (platt struktur) */
.kontainer p.kalla {
    text-align: center;
}
