/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}

body {}
.kontainer {
    width: 1200px;
    padding: 20px;
    margin: auto;
    display: grid;
    gap: 2em;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "sidhuvud sidhuvud"
    "innehåll sidopanel"
    "sidfot sidfot";
}
header {
    grid-area: sidhuvud;
}
main {
    grid-area: innehåll;
}
aside {
    grid-area: sidopanel;
}
footer {
    grid-area: sidfot;
}

header, main, aside, footer {
    background: #f0e5a1;
    border: 3px solid #e2d898;
    border-radius: 10px;
    padding: 20px;
}
header h1 {
    font-size: 6em;
}
header nav {}
header nav a {
    background: #837d57;
    color: #fff;
    text-decoration: none;
    padding: 6px;
    border-radius: 3px;
    font-size: 1.2em;
    width: 7em;
    display: inline-block;
    text-align: center;
}

main h2 {
    font-size: 4em;
}
main img {
    width: 50%;
}
main p {}

aside h3 {
    font-size: 3em;
}
aside h3 {}
aside p {}
aside p a {}

footer p {}