@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+DE+SAS:wght@100..400&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EEE;
}
div {
    background-color: orange;
    width: 500px;
    height: 300px;
    border-radius: 25px;
    background-image: url(./bilder/cristian-palmer-XexawgzYOBc-unsplash.jpg);
    margin: auto;
    margin-top: 150px;
    color: #FFF;
    box-shadow: 2px 2px 10px #000;
    padding-left: 150px;
    padding-top: 100px;
    font-family: "Arvo", serif;
}
h1 {
    font-family: "Playwrite DE SAS", cursive;
    font-size: 50px;
}